{
    "sourceMaps": true,
    "presets": [["es2015", { "loose": true, "module": false }]],
    "plugins": [
        ["transform-es2015-classes", { "loose": true, "module": false }],
        ["transform-es2015-computed-properties", { "loose": true, "module": false }],
        ["transform-es2015-template-literals", { "loose": true, "module": false }],
        ["transform-es2015-for-of", { "loose": true, "module": false }],
        ["transform-es2015-modules-commonjs", { "loose": true, "module": false }],
        ["transform-es2015-spread", { "loose": true, "module": false }],
        ["transform-es2015-destructuring", { "loose": true, "module": false }]
    ],
    "ignore": [
    ]
}
